server {
    listen      80;
    server_name 34.214.220.163 api.sacredgarden.love;

    location / {
        include proxy_params;
        proxy_pass http://localhost:8000/;
    }

    location /static/ {
        root /home/bitnami/sacred-garden;
    }
}
